<?xml version="1.0" encoding="UTF-8"?>
<!-- 不分级别同步文件日志输出配置 -->
<configuration>

    <!-- 日志级别 -->
    <property name="logLevel" value="INFO"/>
    <!--控制台输出格式-->
    <property name="consoleLogFormat" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p %logger{50}  - %m%n"/>
<!--    <property name="consoleLogFormat" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %5p - %m%n"/>-->

    <!-- 控制台打印日志的相关配置 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 格式化输出 -->
        <encoder>
            <pattern>${consoleLogFormat}</pattern>
        </encoder>
    </appender>

    <!-- 基于INFO处理日志：具体控制台或者文件对日志级别的处理还要看所在appender配置的filter，如果没有配置filter，则使用root配置 -->
    <root level="${logLevel}">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
